<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Proyecto2</title>

    <style type="text/css">
        body{
            background-color: rgb(231, 95, 58);
            color:rgb(252, 245, 245);
            font-family: Arial, Helvetica, sans-serif;
            
        }

        h1{
            text-align: center;
        }
    </style>

</head>
<body>
    <h1> Estamos probando templates.</h1>
    <h2> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint rerum earum nemo, soluta laborum eos, a accusamus reiciendis quisquam excepturi ex voluptate commodi praesentium nam aliquam, ducimus molestiae ab aperiam.</h2>
</body>
</html>